<div class="row text-center">

  <div class="col-12 mt-5">

    <code>
  // -> POST , CREATE ONE
https://alejo-code-api-verivox.herokuapp.com/api/products - req.body -

<br>
<br>
<br>


// -> GET / READ ALL
https://alejo-code-api-verivox.herokuapp.com/api/products 
<br>

<br>
<br>

// -> GET Consumption as a optional parameter / READ ALL
https://alejo-code-api-verivox.herokuapp.com/api/products?consumption=4000
<br>
<br>
<br>


// -> GET / READ ONE
https://alejo-code-api-verivox.herokuapp.com/api/products/:id
<br>
<br>
<br>


// -> PUT / UPDATE ONE
https://alejo-code-api-verivox.herokuapp.com/api/products/:id  - req.body - 
<br>

<br>
<br>

// -> DELETE ONE
https://alejo-code-api-verivox.herokuapp.com/api/products/:id
<br>
<br>
<br>



</code>

  </div>
</div>