<div class="row text-center">

  <div class="col-12 mt-5">

    <code>
  // -> POST , CREATE ONE
http://localhost:8090//api/products - req.body -

<br>
<br>
<br>


// -> GET / READ ALL
http://localhost:8090//api/products 
<br>

<br>
<br>

// -> GET Consumption as a optional parameter / READ ALL
http://localhost:8090//api/products?consumption=4000
<br>
<br>
<br>


// -> GET / READ ONE
http://localhost:8090//api/products/:id
<br>
<br>
<br>


// -> PUT / UPDATE ONE
http://localhost:8090//api/products/:id  - req.body - 
<br>

<br>
<br>

// -> DELETE ONE
http://localhost:8090//api/products/:id
<br>
<br>
<br>



</code>

  </div>
</div>